.historico{
    width: 90%;
    max-width: 1000px;
    height: max-content;
    
    top: 150px;
    position: absolute;
    background-color: white;
    border: #2C3E50 .1rem solid;
    border-radius: .3rem;
}

.historico .header{
    border-bottom: solid .1rem #333333;
    margin: 6rem 4rem;
    padding-bottom: 1rem;

    color: #333333;
    font-family: monospace;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.historico .header button{
    width: max-content;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: red;
    transition: .5s;
    border: .1px  solid transparent;
    
}

.historico .header button:hover{
    border: solid .1rem ;
    transition: .5s;
}



.historico .content-historico{
    margin: 2rem 4rem;
}

.historico .content-historico .historico-search{
    margin: 2rem 0rem;
}

.historico .content-historico h2{
    font-weight: 500;
    font-size: 1.2rem;
}

.historico .content-historico p{
    font-size: .8rem;
}

@media (max-width: 510px) {

    .historico .header{
        border-bottom: solid .1rem black;
        margin: 6rem 2rem;    
    }
    .historico .header button{
        font-size: .8rem;
    }

    .historico .content-historico{
        margin: 2rem 2rem;
    }
}

@media (max-width: 420px)  {
    .historico .header button{
        font-size: .6rem;
    }
}