.Main{
    width: 90%;
    max-width: 1000px;
    height: 420px;
    
    top: 150px;
    position: absolute;
    background-color: white;
    border: #2C3E50 .1rem solid;
    border-radius: .3rem;
}
