.search{
    margin-bottom: 4rem;
}

.search .title{
    margin-bottom: 4rem;
    padding-top: 1rem;
    text-align: center;
    color: red;
}

.search a{
    text-decoration: none;
    position: absolute;
    border-radius: .3rem;
    padding: .5rem;
    font-size: 1.2rem;
    border: .1px  solid transparent;
    transition: .5s;
}

.search .search-leftt{
    left: 2rem;
    bottom: 1rem;
}

.search  .search-rightt{
    right: 2rem;
    bottom: 1rem;
}

.search a:hover{
    font-size: 1.3rem;
    transition: .5s;
    border: .1rem solid #1ABC9C;
}



.search form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search .search-button button{
    font-size: .8rem;
    margin: 0 2rem;
    transition: .5s;
    
}

.search .search-button button:hover{
    font-size: .9rem;
    border: solid .2rem #1ABC9C;
    font-weight: 600;
    margin: 0 2rem;
    transition: .5s;
    
}

.search .search-input{
    width: 60%;
    margin-bottom: 4rem;
    border-bottom: .1rem solid #a19c9c;
}

.search .search-input input{
    width: 100%;
}

@media (max-width: 610px) {
    .search .search-input{
        width: 80%;
    }

    .search .search-input input{
        font-size: 1rem;
    }

    .search .search-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .search .search-button button{
        font-size: .6rem;
        margin: 0 .5rem;
    }

    .search a{
        padding: .5rem;
        font-size: .7rem;
    }
}
@media (max-width: 420px) {
    .search .search-input input{
        font-size: .8rem;
    }
}